$base-color: #393838;
$dark-color: #181A18;
$gray-color: #ABABAB;

//  complementory color schema
$light-color: #EDF7F5;
$green-color: #51A695;
$brown-color: #A68579;
$orange-color: #F28157;
$light-green-color: #E1F2EF;

// additional
$violet-color: #664958;
$violet-light-color: #504265;